
<!-- <div *ngIf="breeds.length > 0; else emptyBreedBlock">
    <div  class="breed-container" *ngFor="let breed of breeds">
      <div class="breed-wrapper">
        <div>Breed  <span>"{{breed?.name}}"</span> </div>
        <div>Country <span>"{{breed?.origin}}"</span></div>
       <a href="{{breed.wikipedia_url}}">Cat detail wikipedia</a>
        </div>
    </div>
  </div>
  <ng-template #emptyBreedBlock>The breed of cat is empty</ng-template> -->
  @if (breeds.length > 0) {
    @for (breed of breeds; track breed) {
        <div class="breed-container">
            <div class="breed-wrapper">
                <div>Breed  <span>"{{ breed?.name }}"</span></div>
                <div>Country <span>"{{ breed?.origin }}"</span></div>
                <a href="{{ breed.wikipedia_url }}">Cat detail wikipedia</a>
            </div>
        </div>
    }
} @else {
    <ng-template #emptyBreedBlock>The breed of cat is empty</ng-template>
}

